.banner {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	position: relative;
	min-height: 40vh;
}

.banner-main {
	background-image: url('/img/banners/train_tracks.jpeg');
	min-height: 100vh;
}

.banner-updates {
	background-image: url('/img/banners/news.jpeg');
}

.banner-projects {
	background-image: url('/img/banners/construction.jpeg');
}

.banner-games {
	background-image: url('/img/banners/chess.jpeg');
}

.banner-misc {
	background-image: url('/img/banners/vintage_cars.jpeg');
}

.banner-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #00000044;
}

.banner-title {
	color: white;
	font-size: 3em;
	font-weight: 200;
	letter-spacing: 1em;
	padding-left: 1em;
	text-align: center;
}

.banner-condensed {
	letter-spacing: 0.6em;
}

.img-padding {
	padding: 15px 40px 40px 15px;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.container {
	padding-top: 1em;
	padding-bottom: 2em;
}

.thumbnail {
	max-width: 300px;
}

.thumbnail a {
	color: lightgrey;
}

.thumbnail h3 {
	font-weight: 200;
}

a {
	cursor: pointer;
}