body {
	font-family: 'Segoe UI', Arial, sans-serif;
}

.navbar {
	background-color: white;
	position: sticky;
	top: 0;
	z-index: 99;
}

.container {
	padding-top: 1em;
	padding-bottom: 2em;
}

.banner {
	position: relative;
	min-height: 400px;
}

[class*='banner-'] {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.banner-head {
	background-image: url('../img/banners/mountains.jpeg');
	min-height: 100vh;
}

.banner-games {
	background-image: url('../img/banners/chess.jpeg');
}

.banner-comics {
	background-image: url('../img/banners/plane.jpeg');
}

.banner-quote {
	color: white;
	font-size: 3em;
	text-align: justify;
}

.banner-title {
	color: white;
	font-size: 3em;
	letter-spacing: 1em;
	padding-left: 1em;
	text-align: center;
}

.banner-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #00000044;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}