body {
	font-family: 'Segoe UI', Arial, sans-serif;
}

.banner {
	position: relative;
}

[class*='banner-'] {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 400px;
}

.banner-1 {
	background-image: url('../img/banners/mountains.jpeg');
	min-height: 100vh;
}

.banner-2 {
	background-image: url('../img/banners/code.jpeg');
}

.banner-3 {
	background-image: url('../img/banners/plane.jpeg');
}

.banner-title {
	color: white;
	font-size: 36px;
	letter-spacing: 10px;
	text-align: center;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 0);
}