body {
	font-family: 'Segoe UI', Arial, sans-serif;
}

.container {
	padding-bottom: 2em;
}

.banner {
	position: relative;
	min-height: 400px;
}

[class*='banner-'] {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.banner-head {
	background-image: url('../img/banners/mountains.jpeg');
	min-height: 100vh;
}

.banner-games {
	background-image: url('../img/banners/code.jpeg');
}

.banner-comics {
	background-image: url('../img/banners/plane.jpeg');
}

.banner-title {
	color: white;
	font-size: 36px;
	letter-spacing: 1em;
	padding-left: 1em;
	text-align: center;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}