<nav class='navbar navbar-expand-md navbar-light bg-faded'>
<!-- change navbar-expand-md to navbar-toggleable-md after updating bootstrap -->
	<button class='navbar-toggler navbar-toggler-right'
		type='button' data-toggle='collapse'
		data-target='#navbarLinkContent'
		aria-controls='navbarLinkContent'
		aria-expanded='false'
		aria-label='Toggle navigation'>
		<span class='navbar-toggler-icon'></span>
	</button>
	
	<a class='navbar-brand' href='.'>KreativDomain</a>
	
	<div id='navbarLinkContent'
		class='collapse navbar-collapse'>
		<ul class='navbar-nav mr-auto'>
			<li class='nav-item'>
				<a class='nav-link'>Projects</a>
			</li>
		</ul>
	</div>
</nav>