<nav class='navbar navbar-expand-md navbar-light bg-faded'>
	<button class='navbar-toggler navbar-toggler-right'
		type='button' data-toggle='collapse'
		data-target='#navbarLinkContent'
		aria-controls='navbarLinkContent'
		aria-expanded='false'
		aria-label='Toggle navigation'>
		<span class='navbar-toggler-icon'></span>
	</button>
	
	<a class='navbar-brand' href='.'>KreativDomain</a>
	
	<div id='navbarLinkContent'
		class='collapse navbar-collapse'>
		<ul class='navbar-nav mr-auto'>
			<li class='nav-item dropdown'>
				<a id='navbarDropdownProjects'
					class='nav-link dropdown-toggle'
					role='button'
					data-toggle='dropdown'
					aria-haspopup='true'
					aria-expanded='false'>Projects</a>

				<div id='dropdownProjectsContainer'
					class='dropdown-menu'
					aria-labelledby='navbarDropdownProjects'>
				</div>
			</li>
		</ul>
	</div>
</nav>