<style>
.banner {
	background-image: url('/img/banners/{{ page.banner }}.jpeg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	min-height: 40vh;
}

.banner-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #00000044;
}

.banner-title {
	color: white;
	font-size: 3em;
	letter-spacing: 1em;
	padding-left: 1em;
	text-align: center;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
</style>