---
layout:	wrapper
title: Gallery
---
{% include navbar.html %}
<link rel='stylesheet' href='/css/thumbnail.css' />

{% assign banner_title = page.title %}
{% include banner.html %}

<div class='container'>
	<div class='row'>
		{% assign post_count = 0 %}
		{% for post in site.posts %}
			{% assign category = page.title | downcase %}
			{% if post.categories contains category %}
				{% assign row_count = post_count | modulo: 3 %}
				{% if post_count > 0 and row_count == 0 %}
	</div>
	<div class='row'>
				{% endif %}
				{% assign post_count = post_count | plus: 1 %}
				{% assign post_type = page.title %}
				{% if post.thumbnail %}
					{% include thumbnail.html %}
				{% else %}
					{% include update.html %}
				{% endif %}
			{% endif %}
		{% endfor %}
		{% if post_count == 0 %}
			<div class='col nothing'>
				NOTHING TO DISPLAY
			</div>
		{% endif %}
	</div>
</div>