---
layout:	wrapper
title: Gallery
---
{% include navbar.html %}
<link rel='stylesheet' href='/css/thumbnail.css' />

{% assign banner_title = page.title %}
{% include banner.html %}

<div class='container'>
	<div class='row'>
		{% assign post_count = 0 %}
		{% for post in site.posts %}
			{% assign category = page.title | downcase %}
			{% if post.categories contains category %}
				{% assign post_count = 1 %}
				{% assign post_type = page.title %}
				{% include thumbnail.html %}
			{% endif %}
		{% endfor %}
		{% if post_count == 0 %}
			<div class='col nothing'>
				NOTHING TO DISPLAY
			</div>
		{% endif %}
	</div>
</div>