---
layout: wrapper
---
{% include navbar.html %}

{% assign banner_style = page.categories[0] %}
{% assign banner_title = page.title %}
{% if page.project %}
	{% assign banner_title = page.project | append: '<br/>' | append: banner_title %}
{% endif %}
{% include banner.html %}

<div class='container'>
	{% if page.youtube %}
		<div class='row'>
			<div class='col'>
				<div id='ytplayer' class='mx-auto d-block'></div>
			</div>
			{% include youtube.html %}
		</div>

		<br/>
	{% endif %}
	<div class='row d-none d-md-block'>
		<div>
			{% if page.thumbnail %}
				<img align=left class='img-padding'
					src='/img/projects/{{page.thumbnail}}' />
			{% endif %}
			{{ content }}
		</div>
	</div>
	<div class='row d-md-none'>
		<div class='col'>
			{% if page.thumbnail %}
				<img class='mx-auto d-block'
					src='/img/projects/{{page.thumbnail}}' />
			{% endif %}
		</div>
	</div>
	<br/>
	<div class='row text-justify d-md-none'>
		{{ content }}
	</div>
</div>